<nav class="navbar navbar-expand-md navbar-light bg-light">
    <i class="navbar-toggler fas fa-bars" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"></i>
    <a class="navbar-brand ml-md-3 mr-auto" routerLink="/">Blog app</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-3 mr-auto">
            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-item nav-link" routerLink="post/list">Posts</a>
            </li>
        </ul>
        <a class="nav-item nav-new-item nav-link" routerLinkActive="active" routerLink="post/new">
            <i class="fas fa-plus"></i> New post
        </a>
    </div>
</nav>
<div class="container">
    <div class="row">
        <router-outlet></router-outlet>
    </div>
</div>