<div [ngClass]="{
                  'card': true,
                  'bg-success': loveIts > 0,
                  'bg-danger': loveIts < 0
                }">
  <div class="card-body">
    <h5 class="card-title">{{ title }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{ created_at | date: 'EEEE d MMMM y' }}</h6>
    <p class="card-text">{{ content }}</p>
    <button class="btn btn-success mr-3" (click)="loveItsUp()">Love it!</button>
    <button class="btn btn-danger" (click)="loveItsDown()">Don't love it!</button>
  </div>
</div>