<h1>{{ isNewPost ? 'New post' : 'Edit post' }}</h1>
<form [formGroup]="postForm" (ngSubmit)="onSubmitForm()">
  <div class="card">
    <div class="card-body">
      <div class="float-right">
        <app-post-actions *ngIf="!isNewPost" [id]="post.id"></app-post-actions>
      </div>
      <div class="form-group">
        <label for="title" class="form">Title</label>
        <input type="text" id="title" class="form-control" formControlName="title">
      </div>
      <div class="form-group">
        <label for="content">Content</label>
        <textarea id="content" class="form-control" formControlName="content"></textarea>
      </div>
      <button type="submit" class="btn btn-success mr-3"
        [disabled]="postForm.invalid">{{ isNewPost ? 'Add' : 'Update' }}</button>
    </div>
  </div>
</form>
<a routerLink="/post/list"><i class="fas fa-long-arrow-alt-left"></i> Back to post list</a>