<div *ngIf="post" 
      [ngClass]="{
                  'card': true,
                  'bg-success': post.loveIts > 0,
                  'bg-danger': post.loveIts < 0
                }">
  <div class="card-body">
    <div class="header-container">
      <h5 class="card-title" [routerLink]="[ postBasePath, id, 'view' ]">{{ post.title }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{ post.createdAt | date: 'EEEE d MMMM y' }}</h6>
      <app-post-actions [id]="post.id.toString()"></app-post-actions>
    </div>
    <p class="card-text">{{ post.content }}</p>
    <span class="loveits mr-3">{{ post.loveIts | abs }}
      <i class="fas fa-thumbs-up" *ngIf="post.loveIts >= 0"></i>
      <i class="fas fa-thumbs-down" *ngIf="post.loveIts < 0"></i>
    </span>
    <button class="btn btn-success mr-3" (click)="loveItsUp()">Love it!</button>
    <button class="btn btn-danger" (click)="loveItsDown()">Don't love it!</button>
  </div>
</div>